<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Calibre</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recettes">Recettes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nutriments">Nutriments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/a-propos">À propos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Activités
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ajouter-activite">Ajouter une activité</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/afficher-activites">Afficher les activités</a>
                </div>
            </li>
            <% if (utilisateurconnecte !== null) { %>
                <li class="nav-item">
                    <a class="nav-link" href="profil">Profil</a>
                </li>
                <% }else{ %>
    
                    <li class="nav-item">
                        <a class="nav-link" href="inscription">Inscription</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="connexion">Connexion</a>
                    </li>
                    <% } %>
            <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
        </ul>

        
    </div>
</nav>