<link type="text/css" rel="stylesheet" href="../css/header.css" />
<nav class="nav-bar">

    <a href="/">Accueil </a>
    <a href="/recettes">Recettes</a>
    <a href="/nutriments">Aliments</a>
    <a href="/a-propos">À propos</a>
    <% if (utilisateurconnecte !== null) { %>
        <a href="progression"> progression </a>
        <a href="profil">Profil </a>



        <% }else{ %>
            <a href="inscription">Inscription</a>
            <a href="connexion">Connexion</a>

            <% } %>

                <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->


                <div class="animation start-home"></div>
                </div>
</nav>