<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Calibre</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="recettes">Recettes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="nutriments">Nutriments</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="about">À propos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="ajouter-activite">Ajouter une activité</a>
        </li>

        <% if (utilisateurconnecte) { %>
            <li class="nav-item">
                <a class="nav-link" href="profil">Profil</a>
            </li>
            <% }else{ %>

                <li class="nav-item">
                    <a class="nav-link" href="inscription">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="connexion">Connexion</a>
                </li>
                <% } %>
    </ul>
</nav>