<link type="text/css" rel="stylesheet" href="../css/header.css" />
<nav class="nav-bar">

    <a href="/">Accueil </a>
    <a href="/recettes">Recettes</a>
    <a href="/nutriments">Nutriments</a>
    <a href="/a-propos">À propos</a>
    <% if (utilisateurconnecte !== null) { %>
        <a href="profil">Profil </a>
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Activités
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/ajouter-activite">Ajouter une activité</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/afficher-activites">Afficher les activités</a>

        </div>


        <% }else{ %>
            <a href="inscription">Inscription</a>
            <a href="connexion">Connexion</a>

            <% } %>

                <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->


                <div class="animation start-home"></div>
                </div>
</nav>