    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    nav {
        position: relative;
        width: 1020px;
        height: 110px;
        background: #ffffff;
        border-radius: 8px;
        font-size: 0;
        box-shadow: 3px 6px rgba(0, 0, 0, 0.1);
        opacity: 60%;
        margin-top: 15px;

    }
    
    nav a {
        font-size: 20px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        text-decoration: none;
        line-height: 110px;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-align: center;
    }
    
    nav .animation {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 0;
        background: rgb(17, 136, 51);
        border-radius: 8px;
        transition: all .5s ease 0s;
    }
    
    nav a:nth-child(1) {
        width: 120px;
    }
    
    nav .start-home,
    a:nth-child(1):hover~.animation {
        width: 120px;
        left: 0;
    }
    
    nav a:nth-child(2) {
        width: 120px;
    }
    
    nav a:nth-child(2):hover~.animation {
        width: 120px;
        left: 120px;
    }
    
    nav a:nth-child(3) {
        width: 120px;
    }
    
    nav a:nth-child(3):hover~.animation {
        width: 120px;
        left: 240px;
    }
    
    nav a:nth-child(4) {
        width: 120px;
    }
    
    nav a:nth-child(4):hover~.animation {
        width: 120px;
        left: 360px;
    }
    
    nav a:nth-child(5) {
        width: 130px;
    }
    
    nav a:nth-child(5):hover~.animation {
        width: 130px;
        left: 480px;
    }
    
    nav a:nth-child(6) {
        width: 130px;
    }
    
    nav a:nth-child(6):hover~.animation {
        width: 130px;
        left: 610px;
    }
    nav a:nth-child(7) {
        width: 270px;
    }
    
    nav a:nth-child(7):hover~.animation {
        width: 290px;
        left: 720px;
    }
    .flex-container {
        display: flex;
        width: min-content;
    }
    
    .flex-child {
        flex: 1;
    }  
    .flex-child:first-child {
        margin-left:2em;
        margin-right:3em;
    } 
    img{
        border-radius: 8px;

    }