<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link type="text/css" rel="stylesheet" href="../css/info.css" />

</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbo" style="margin:5% 0% 100% 0%">
            <h1 style="margin-top: 0%;">À propos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium soluta fugiat, aliquam
                necessitatibus illum culpa. Debitis iste dolore, iure deleniti quis temporibus voluptatum? Deserunt
                ex illum a, corrupti autem aliquam!</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>