<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link type="text/css" rel="stylesheet" href="../css/connexion.css" />

</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <br /><br />
    <div class="formulaire">
        <h3>Bienvenue</h3>
        <br /><br />
        <form action="/connexion" method="post">
            <fieldset class='float-label-field'>
                <label for="email">Adresse courriel</label>
                <input type="text" id="email" name="email" class="form__field" title="" required />
            </fieldset>
            <label id="avertirUtilisateur" style="padding-left:20px; color:orangered;">
            <%if (messages.error){ %>
                <%= messages.error%>
                    <%}%>
        </label><br /><br />
            <fieldset class='float-label-field'>
                <label for="mot_passe">Mot de passe </label>
                <input type="password" id="mot_passe" name="mot_passe" class="form__field" title="" required /><label id="avertirMotPasse" style="padding-left:20px; color:orangered;"></label><br /><br />
            </fieldset>

            <button type="submit">Soumettre</button>
        </form>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        $('head').append('<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">');

        $('input').focus(function(event) {
            $(this).closest('.float-label-field').addClass('float').addClass('focus');
        })

        $('input').blur(function() {
            $(this).closest('.float-label-field').removeClass('focus');
            if (!$(this).val()) {
                $(this).closest('.float-label-field').removeClass('float');
            }
        });
    </script>
</body>

</html>