<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link type="text/css" rel="stylesheet" href="../css/info.css" />

</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbo" style="margin:5% 0% 100% 0%">
    <h1 style="margin-top: 0%;">Calibre</h1>
    <p>Slogan à déterminer</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>