<!DOCTYPE html>
<html lang="en">

<header>
    <%- include('../partials/header'); %>
</header>

<body class="container">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <main>
        <div class="jumbotron">
            <h1>Recherche de nutriments</h1>
            <input id="recherche">

            <!-- Bouton avec la fonction getNutriment(query) -->
            <button onclick="getRecette(document.getElementById('recherche').value)">Trouver un nutriment</button>

            <!-- Résultat de la requête -->
            <div id="sortie"></div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        
    </script>

</body>

</html>