<!DOCTYPE html>
<html lang="en">

<header>
    <%- include('../partials/header'); %>
</header>

<body class="container">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <main>
        <div class="jumbotron">
            <h1>Recherche de nutriments</h1>


        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        
    </script>

</body>

</html>