<!DOCTYPE html>
<html lang="en">

<header>
    <%- include('../partials/header'); %>
</header>

<body class="container">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <main>
        <div class="jumbotron">
            <h1>Recherche de nutriments</h1>
            <input id="recherche_nutriments">

            <!-- Bouton avec la fonction getNutriment(query) -->
            <button id="envoyer" onclick="getNutrimentID(document.getElementById('recherche_nutriments').value)">Trouver
                un nutriment</button><br>

            <!-- Affichage des informations du nutriment trouvé -->
            <p>
                Nom du nutriment: <span id="nom_nutriment"></span><br>
                ID du nutriment: <span id="id_nutriment"></span><br>
                Nombre de calories: <span id="quantite_calories"></span><br>
                Type de nutriment: <span id="type_nutriment"></span>
            </p>

            <!-- Résultat de la requête -->
            <div id="sortie"></div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        /**
         * Fonction qui trouve la source du nutriment
         * @param {number} id - ID du nutriment
         */
        function getNutrimentInfo(id) {
            $.ajax({
                url:
                    "https://api.spoonacular.com/food/ingredients/" +
                    id +
                    "/information?apiKey=1cc034bf9a734f59995c4b72466c33ab&amount=150&unit=grams",
                success: function (res) {
                    document.getElementById("id_nutriment").textContent = id;
                    document.getElementById("nom_nutriment").textContent = res.name;
                    document.getElementById("quantite_calories").textContent =
                        res.nutrition.nutrients[16].amount;
                    document.getElementById("type_nutriment").textContent =
                        res.categoryPath[0];
                },
            });
        }

        /**
         * Fonction qui trouve un nutriment
         * @param {string} query - Entrée de l'utilisateur
         */
        function getNutrimentID(query) {
            $.ajax({
                url:
                    "https://api.spoonacular.com/food/ingredients/search?apiKey=1cc034bf9a734f59995c4b72466c33ab&query=" +
                    query,
                success: function (res) {
                    try {
                        getNutrimentInfo(res.results[0].id);
                    } catch (err) {
                        console.log(
                            "Erreur: " +
                            err.name +
                            " - Aucun nutriment trouvé dans la base de données de SpoonacularAPI"
                        );
                        alert(
                            "Désolé, aucun nutriment trouvé. Veuillez réessayer avec des mots en anglais, merci!"
                        );
                    }
                },
            });
        }

    </script>

</body>

</html>