<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<php></php>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <br /><br />
    <h3>Bonjour
        <%=prenom%>
    </h3>
    <h5>Mes informations</h5>

    <p>Nom: </p>
    <form action="/deconnexion?_method=DELETE" method="post">
        <input type="submit" value="Déconnexion" />

    </form>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>